@use "../abstracts" as *;

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5em 1em;
	font-size: 1.125rem;

	border-width: 2px;
	border-style: solid;
	transition: background-color 0.3s;
	letter-spacing: 0.1em;

	&:hover {
		background-color: $color-accent;
	}

	&--light {
		background-color: rgba($color-white, 0.1);
		border-color: $color-white;
		min-width: 250px;
		min-height: 60px;
	}

	&--primary {
		background-color: rgba($color-primary, 0.8);
		border-color: $color-primary;
		min-width: 350px;
		min-height: 60px;
	}
}

.visually-hidden {
	@include visually-hidden;
}
