@use "../abstracts" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 1em;

  transition: background-color 0.3s;
  letter-spacing: 0.1em;

  border-width: 2px;
  border-style: solid;

  font-size: 1.125rem;

  &:hover {
    background-color: $color-accent;
  }

  &--light {
    min-width: 250px;
    min-height: 60px;

    border-color: $color-white;
    background-color: rgba($color-white, 0.1);
  }

  &--primary {
    min-width: 350px;
    min-height: 60px;

    border-color: $color-primary;
    background-color: rgba($color-primary, 0.8);
  }
}

.visually-hidden {
  @include visually-hidden;
}
