@use "../../abstracts" as *;

.header__navbar {
	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
		justify-content: end;
		gap: $gap;

		@include unlist(0 (-$gap-sm) 0 0);
	}
	&-link {
		display: block;
		padding: $gap $gap-sm;
		font-size: 1.125rem;
		letter-spacing: 0.09em;
	}
	&-item {
	}
}
