@use "../../abstracts" as *;

.header__navbar {
  &-list {
    @include md-min {
      display: grid;
      justify-content: end;

      gap: $gap;
      grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
      @include unlist(0 (-$gap-sm) 0 0);
    }
    @include md {
      position: absolute;
      top: 100%;
      right: $gap;

      display: none;
      overflow: hidden;

      text-align: center;

      @include box-shadow;
      @include unlist;

      &::before {
        position: absolute;
        z-index: -1;
        top: -$gap;
        right: -$gap;
        bottom: -$gap;
        left: -$gap;

        content: "";

        background-color: rgba($color-gray-dark, 0.25);

        backdrop-filter: blur(5px);
      }
    }
  }

  &-item {
    @include md {
      margin: $gap;
    }
  }

  &-link {
    display: block;

    padding: $gap $gap-sm;

    letter-spacing: 0.09em;

    font-size: 1.125rem;

    @include md-min {
      padding: $gap $gap-sm;
    }
    @include md {
      padding: $gap-sm $gap;
    }
  }

  &-btn {
    position: relative;

    width: 30px;
    height: 22.5px;
    margin-left: auto;

    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);

    @include md-min {
      display: none;
    }

    &-row {
      position: absolute;

      display: block;

      width: 50%;
      height: 3px;

      transition: 0.25s ease-in-out;
      transform: rotate(0deg);

      opacity: 1;
      background: $color-white;

      &:nth-child(even) {
        left: 50%;

        border-radius: 0 3px 3px 0;
      }

      &:nth-child(odd) {
        left: 0;

        border-radius: 3px 0 0 3px;
      }

      &:nth-child(1),
      &:nth-child(2) {
        top: 0;
      }

      &:nth-child(3),
      &:nth-child(4) {
        top: 9px;
      }

      &:nth-child(5),
      &:nth-child(6) {
        top: 18px;
      }
    }

    &.active span {
      &:nth-child(1),
      &:nth-child(6) {
        transform: rotate(45deg);
      }

      &:nth-child(2),
      &:nth-child(5) {
        transform: rotate(-45deg);
      }

      &:nth-child(1) {
        top: 3.5px;
        left: 2.5px;
      }

      &:nth-child(2) {
        top: 3.5px;
        left: calc(50% - 2.5px);
      }

      &:nth-child(3) {
        left: -50%;

        opacity: 0;
      }

      &:nth-child(4) {
        left: 100%;

        opacity: 0;
      }

      &:nth-child(5) {
        top: 14.5px;
        left: 2.5px;
      }

      &:nth-child(6) {
        top: 14.5px;
        left: calc(50% - 2.5px);
      }
    }
  }
}
