@use "../../abstracts" as *;

.header {
  display: grid;
  align-items: center;

  min-height: 100vh;
  padding: 150px 0;

  color: $color-white;
  background-color: $color-primary;
  background-image: url("assets/images/img-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
