@use "../../abstracts" as *;

.header__navbar {
  &-list {
    display: grid;
    justify-content: end;

    gap: $gap;
    grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
    @include unlist(0 (-$gap-sm) 0 0);
  }
  &-link {
    display: block;

    padding: $gap $gap-sm;

    letter-spacing: 0.09em;

    font-size: 1.125rem;
  }
}
